:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --hover-focus-cyan: hsl(142, 20%, 20%);
  --cream: hsl(30, 38%, 92%);

  --dark-blue: hsl(212, 21%, 14%);
  --gray-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  --font-weight-medium: 500;
  --font-weight-heavy: 700;

  --font-family-montserrat: "Montserrat", sans-serif;
  --font-family-fraunces: "Fraunces", serif;
}

html {
  font-size: 14px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--cream);
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 40rem;
  background-color: var(--white);
  border-radius: 10px;
  font-family: var(--font-family-montserrat);
  color: var(--gray-blue);
}

header {
  width: 100%;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

main article {
  width: 100%;
  padding: 1.5rem;
}

h1 {
  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-montserrat);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 0 0 1rem 0;
}

h2 {
  color: var(--dark-blue);
  font-family: var(--font-family-fraunces);
  font-weight: var(--font-weight-heavy);
  font-size: 2.25rem;
  line-height: 2.25rem;
  margin: 0 0 1.25rem 0;
}

article p {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.5rem;
  margin: 0 0 1.5rem 0;
}

.pricing {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-family-fraunces);
  margin: 0 0 1.25rem 0;
}

.now-price {
  font-size: 2.25rem;
  font-family: var(--font-family-fraunces);
  font-weight: var(--font-weight-heavy);
  color: var(--dark-cyan);
}

.was-price {
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-medium);
  text-decoration: line-through;
  padding-left: 1.5rem;
}

.cart-cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  border: none;
  background-color: var(--dark-cyan);
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-heavy);
  font-size: 1rem;
  border-radius: 8px;
  padding: 1.125rem;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.cart-cta::before {
  content: url("images/icon-cart.svg");
  padding-right: 0.875rem;
  height: 1rem;
}

.cart-cta:hover {
  background-color: var(--hover-focus-cyan);
  transition: background-color 0.1s ease-in-out;
}

.cart-cta:focus {
  background-color: var(--hover-focus-cyan);
  transition: background-color 0.1s ease-in-out;
}

@media screen and (width > 23.4375rem) {
  main {
    flex-direction: row;
  }

  header {
    width: 50%;
  }

  main article {
    width: 50%;
    padding: 2rem;
  }

  .product-image {
    content: url("images/image-product-desktop.jpg");
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0 10px;
  }

}